<% include ./partials/header %>
<div class="well" id="login">
<h1 class="center"> Login form</h1>
<form action="/login" method="POST">
    <input class="form-control form-group" type="text" name="username" placeholder="Email">
    <input class="form-control form-group" type="password" name="password" placeholder="password">
    <button class="btn btn-lg btn-primary btn-block form-group">Login</button>
    <p style="text-align:center;"><a href="/register">Sign up</a></p>
</form>
</div>
