
<% include ./partials/header %>
<div class="well" id="login1">
    <h1 class="center">SIGN UP</h1>
<form action="/register" method="POST">
    <input class="form-control form-group" type="text" name="username" placeholder="E-mail">
    <input class="form-control form-group" type="text" name="name" placeholder="name">
    <input class="form-control form-group" type="password" name="password" placeholder="password">
    <button class="btn btn-lg btn-primary btn-block form-group">Sign up</button>
    <p style="text-align:center;"><a href="/login">login intead</a></p>
</form>
</div>


